/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* margin */
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 0.75rem !important;
}

.m-4 {
  margin: 1rem !important;
}

/* margin-top */
.m-t-0 {
  margin-top: 0 !important;
}

.m-t-1 {
  margin-top: 0.25rem !important;
}

.m-t-2 {
  margin-top: 0.5rem !important;
}

.m-t-3 {
  margin-top: 0.75rem !important;
}

.m-t-4 {
  margin-top: 1rem !important;
}

/* margin-left */
.m-l-0 {
  margin-left: 0 !important;
}

.m-l-1 {
  margin-left: 0.25rem !important;
}

.m-l-2 {
  margin-left: 0.5rem !important;
}

.m-l-3 {
  margin-left: 0.75rem !important;
}

.m-l-4 {
  margin-left: 1rem !important;
}

/* margin-bottom */
.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-1 {
  margin-bottom: 0.25rem !important;
}

.m-b-2 {
  margin-bottom: 0.5rem !important;
}

.m-b-3 {
  margin-bottom: 0.75rem !important;
}

.m-b-4 {
  margin-bottom: 1rem !important;
}

/* margin-right */
.m-r-0 {
  margin-right: 0 !important;
}

.m-r-1 {
  margin-right: 0.25rem !important;
}

.m-r-2 {
  margin-right: 0.5rem !important;
}

.m-r-3 {
  margin-right: 0.75rem !important;
}

.m-r-4 {
  margin-right: 1rem !important;
}

/* margin-x-sides */
.m-x-0 {
  margin: 0 0 !important;
}

.m-x-1 {
  margin: 0 0.25rem !important;
}

.m-x-2 {
  margin: 0 0.5rem !important;
}

.m-x-3 {
  margin: 0 0.75rem !important;
}

.m-x-4 {
  margin: 0 1rem !important;
}

/* margin-y-sides */
.m-y-0 {
  margin: 0 0 !important;
}

.m-y-1 {
  margin: 0.25rem 0 !important;
}

.m-y-2 {
  margin: 0.5rem 0 !important;
}

.m-y-3 {
  margin: 0.75rem 0 !important;
}

.m-y-4 {
  margin: 1rem 0 !important;
}

/* margin negative */
.m-n0 {
  margin: 0 !important;
}

.m-n1 {
  margin: 0.25rem !important;
}

.m-n2 {
  margin: 0.5rem !important;
}

.m-n3 {
  margin: 0.75rem !important;
}

.m-n4 {
  margin: 1rem !important;
}

/* margin-top negative */
.m-t-n0 {
  margin-top: 0 !important;
}

.m-t-n1 {
  margin-top: 0.25rem !important;
}

.m-t-n2 {
  margin-top: 0.5rem !important;
}

.m-t-n3 {
  margin-top: 0.75rem !important;
}

.m-t-n4 {
  margin-top: 1rem !important;
}

/* margin-left negative */
.m-l-n0 {
  margin-left: 0 !important;
}

.m-l-n1 {
  margin-left: 0.25rem !important;
}

.m-l-n2 {
  margin-left: 0.5rem !important;
}

.m-l-n3 {
  margin-left: 0.75rem !important;
}

.m-l-n4 {
  margin-left: 1rem !important;
}

/* margin-bottom negative */
.m-b-n0 {
  margin-bottom: 0 !important;
}

.m-b-n1 {
  margin-bottom: 0.25rem !important;
}

.m-b-n2 {
  margin-bottom: 0.5rem !important;
}

.m-b-n3 {
  margin-bottom: 0.75rem !important;
}

.m-b-n4 {
  margin-bottom: 1rem !important;
}

/* margin-right negative */
.m-r-n0 {
  margin-right: 0 !important;
}

.m-r-n1 {
  margin-right: 0.25rem !important;
}

.m-r-n2 {
  margin-right: 0.5rem !important;
}

.m-r-n3 {
  margin-right: 0.75rem !important;
}

.m-r-n4 {
  margin-right: 1rem !important;
}

/* margin-x-sides negative */
.m-x-n0 {
  margin: 0 0 !important;
}

.m-x-n1 {
  margin: 0 0.25rem !important;
}

.m-x-n2 {
  margin: 0 0.5rem !important;
}

.m-x-n3 {
  margin: 0 0.75rem !important;
}

.m-x-n4 {
  margin: 0 1rem !important;
}

/* margin-y-sides negative */
.m-y-n0 {
  margin: 0 0 !important;
}

.m-y-n1 {
  margin: 0.25rem 0 !important;
}

.m-y-n2 {
  margin: 0.5rem 0 !important;
}

.m-y-n3 {
  margin: 0.75rem 0 !important;
}

.m-y-n4 {
  margin: 1rem 0 !important;
}

/* padding */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

/* padding-top */
.p-t-0 {
  padding-top: 0;
}

.p-t-1 {
  padding-top: 0.25rem;
}

.p-t-2 {
  padding-top: 0.5rem;
}

.p-t-3 {
  padding-top: 0.75rem;
}

.p-t-4 {
  padding-top: 1rem;
}

/* padding-left */
.p-l-0 {
  padding-left: 0;
}

.p-l-1 {
  padding-left: 0.25rem;
}

.p-l-2 {
  padding-left: 0.5rem;
}

.p-l-3 {
  padding-left: 0.75rem;
}

.p-l-4 {
  padding-left: 1rem;
}

/* padding-bottom */
.p-b-0 {
  padding-bottom: 0;
}

.p-b-1 {
  padding-bottom: 0.25rem;
}

.p-b-2 {
  padding-bottom: 0.5rem;
}

.p-b-3 {
  padding-bottom: 0.75rem;
}

.p-b-4 {
  padding-bottom: 1rem;
}

/* padding-right */
.p-r-0 {
  padding-right: 0;
}

.p-r-1 {
  padding-right: 0.25rem;
}

.p-r-2 {
  padding-right: 0.5rem;
}

.p-r-3 {
  padding-right: 0.75rem;
}

.p-r-4 {
  padding-right: 1rem;
}

/* padding-x-sides */
.p-x-0 {
  padding: 0 0;
}

.p-x-1 {
  padding: 0 0.25rem;
}

.p-x-2 {
  padding: 0 0.5rem;
}

.p-x-3 {
  padding: 0 0.75rem;
}

.p-x-4 {
  padding: 0 1rem;
}

/* padding-y-sides */
.p-y-0 {
  padding: 0 0;
}

.p-y-1 {
  padding: 0.25rem 0;
}

.p-y-2 {
  padding: 0.5rem 0;
}

.p-y-3 {
  padding: 0.75rem 0;
}

.p-y-4 {
  padding: 1rem 0;
}

/* floats and clear */
.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.c-left {
  clear: left;
}

.c-right {
  clear: right;
}

.c-both {
  clear: both;
}

.c-fix::before,
.c-fix::after {
  content: " ";
  display: table;
}

.c-fix::after {
  clear: both;
}

/* positioning */
.p-rel {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.p-abs {
  position: absolute;
}

/* display */
.d-hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

/* flex alignment */
.f-x-start {
  justify-content: flex-start;
}

.f-x-center {
  justify-content: center;
}

.f-x-end {
  justify-content: flex-end;
}

.f-y-start {
  align-items: flex-start;
}

.f-y-center {
  align-items: center;
}

.f-y-end {
  align-items: flex-end;
}

.f-selfy-start {
  align-self: flex-start;
}

.f-selfy-center {
  align-self: center;
}

.f-selfy-end {
  align-self: flex-end;
}

/* colors */
.gray-bg {
  background-color: #f3f3f3;
}

.gray-border {
  border-color: #f3f3f3;
}

.gray {
  color: #f3f3f3;
}

.accent-bg {
  background-color: #ce973e;
}

.accent-border {
  border-color: #ce973e;
}

.accent {
  color: #ce973e;
}

.passed-bg {
  background-color: #2cbe4e;
}

.passed-border {
  border-color: #2cbe4e;
}

.passed {
  color: #2cbe4e;
}

.primary-bg {
  background-color: #6abfc3;
}

.primary-border {
  border-color: #6abfc3;
}

.primary {
  color: #6abfc3;
}

.secondary-bg {
  background-color: rgba(74, 74, 74, 0.7);
}

.secondary-border {
  border-color: rgba(74, 74, 74, 0.7);
}

.secondary {
  color: rgba(74, 74, 74, 0.7);
}

/* text styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #4a4a4a;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
}

h4 {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 1rem;
  letter-spacing: 0.2px;
}

h6 {
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

p {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  margin: 0;
  line-height: 1.88;
}

.bold {
  font-weight: bold;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-bold {
  font-weight: 700;
}

.t-medium {
  font-weight: 500;
}

.t-light {
  font-weight: 300;
}

.t-s {
  font-size: 0.75rem;
}

.t-b {
  font-size: 1rem;
}

.t-m {
  font-size: 1.5rem;
}

.t-l {
  font-size: 2rem;
}

.t-xl {
  font-size: 3rem;
}

/* border */
.b-0 {
  border: 0;
}

.b-1 {
  border: 0.25rem;
}

.b-2 {
  border: 0.5rem;
}

.b-3 {
  border: 0.75rem;
}

.b-4 {
  border: 1rem;
}

/* border-top */
.b-t-0 {
  border-top: 0;
}

.b-t-1 {
  border-top: 0.25rem;
}

.b-t-2 {
  border-top: 0.5rem;
}

.b-t-3 {
  border-top: 0.75rem;
}

.b-t-4 {
  border-top: 1rem;
}

/* border-left */
.b-l-0 {
  border-left: 0;
}

.b-l-1 {
  border-left: 0.25rem;
}

.b-l-2 {
  border-left: 0.5rem;
}

.b-l-3 {
  border-left: 0.75rem;
}

.b-l-4 {
  border-left: 1rem;
}

/* border-bottom */
.b-b-0 {
  border-bottom: 0;
}

.b-b-1 {
  border-bottom: 0.25rem;
}

.b-b-2 {
  border-bottom: 0.5rem;
}

.b-b-3 {
  border-bottom: 0.75rem;
}

.b-b-4 {
  border-bottom: 1rem;
}

/* border-right */
.b-r-0 {
  border-right: 0;
}

.b-r-1 {
  border-right: 0.25rem;
}

.b-r-2 {
  border-right: 0.5rem;
}

.b-r-3 {
  border-right: 0.75rem;
}

.b-r-4 {
  border-right: 1rem;
}

/* border-x-sides */
.b-x-0 {
  border: 0 0;
}

.b-x-1 {
  border: 0 0.25rem;
}

.b-x-2 {
  border: 0 0.5rem;
}

.b-x-3 {
  border: 0 0.75rem;
}

.b-x-4 {
  border: 0 1rem;
}

/* border-y-sides */
.b-y-0 {
  border: 0 0;
}

.b-y-1 {
  border: 0.25rem 0;
}

.b-y-2 {
  border: 0.5rem 0;
}

.b-y-3 {
  border: 0.75rem 0;
}

.b-y-4 {
  border: 1rem 0;
}

.b-rounded {
  border-radius: 10%;
}

.b-circle {
  border-radius: 50%;
}

/* button */
.button-gray {
  background-color: #f3f3f3;
}

.button-acccent {
  background-color: #cc9543;
}

.button-passed {
  background-color: #2cbe4e;
}

.button-primary {
  background-color: #6abfc3;
}

.button-secondary {
  background-color: rgba(74, 74, 74, 0.7);
}

a.button {
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

/* grid system */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

.mesh {
  width: 100%;
}

.mesh-boxed {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.mesh::before,
.mesh::after,
.mesh-boxed::before,
.mesh-boxed::after,
.tier::before,
.tier::after {
  content: " ";
  display: table;
}

.mesh::after,
.mesh-boxed::after,
.tier::after {
  clear: both;
}

[class*="box-"],
[class*="fillbox-"] > div,
[class*="fillbox-"] > header,
[class*="fillbox-"] > section,
[class*="fillbox-"] > article,
[class*="fillbox-"] > aside,
[class*="fillbox-"] > footer {
  padding-left: 1em;
  padding-right: 1em;
  float: left;
}

.fillbox-1 > div,
.fillbox-1 > header,
.fillbox-1 > section,
.fillbox-1 > article,
.fillbox-1 > aside,
.fillbox-1 > footer {
  width: 8.3333333333%;
}

.fillbox-2 > div,
.fillbox-2 > header,
.fillbox-2 > section,
.fillbox-2 > article,
.fillbox-2 > aside,
.fillbox-2 > footer {
  width: 16.6666666667%;
}

.fillbox-3 > div,
.fillbox-3 > header,
.fillbox-3 > section,
.fillbox-3 > article,
.fillbox-3 > aside,
.fillbox-3 > footer {
  width: 25%;
}

.fillbox-4 > div,
.fillbox-4 > header,
.fillbox-4 > section,
.fillbox-4 > article,
.fillbox-4 > aside,
.fillbox-4 > footer {
  width: 33.3333333333%;
}

.fillbox-5 > div,
.fillbox-5 > header,
.fillbox-5 > section,
.fillbox-5 > article,
.fillbox-5 > aside,
.fillbox-5 > footer {
  width: 41.6666666667%;
}

.fillbox-6 > div,
.fillbox-6 > header,
.fillbox-6 > section,
.fillbox-6 > article,
.fillbox-6 > aside,
.fillbox-6 > footer {
  width: 50%;
}

.fillbox-7 > div,
.fillbox-7 > header,
.fillbox-7 > section,
.fillbox-7 > article,
.fillbox-7 > aside,
.fillbox-7 > footer {
  width: 58.3333333333%;
}

.fillbox-8 > div,
.fillbox-8 > header,
.fillbox-8 > section,
.fillbox-8 > article,
.fillbox-8 > aside,
.fillbox-8 > footer {
  width: 66.6666666667%;
}

.fillbox-9 > div,
.fillbox-9 > header,
.fillbox-9 > section,
.fillbox-9 > article,
.fillbox-9 > aside,
.fillbox-9 > footer {
  width: 75%;
}

.fillbox-10 > div,
.fillbox-10 > header,
.fillbox-10 > section,
.fillbox-10 > article,
.fillbox-10 > aside,
.fillbox-10 > footer {
  width: 83.3333333333%;
}

.fillbox-11 > div,
.fillbox-11 > header,
.fillbox-11 > section,
.fillbox-11 > article,
.fillbox-11 > aside,
.fillbox-11 > footer {
  width: 91.6666666667%;
}

.fillbox-12 > div,
.fillbox-12 > header,
.fillbox-12 > section,
.fillbox-12 > article,
.fillbox-12 > aside,
.fillbox-12 > footer {
  width: 100%;
}

.box-1 {
  width: 8.3333333333% !important;
}

.box-2 {
  width: 16.6666666667% !important;
}

.box-3 {
  width: 25% !important;
}

.box-4 {
  width: 33.3333333333% !important;
}

.box-5 {
  width: 41.6666666667% !important;
}

.box-6 {
  width: 50% !important;
}

.box-7 {
  width: 58.3333333333% !important;
}

.box-8 {
  width: 66.6666666667% !important;
}

.box-9 {
  width: 75% !important;
}

.box-10 {
  width: 83.3333333333% !important;
}

.box-11 {
  width: 91.6666666667% !important;
}

.box-12 {
  width: 100% !important;
}

@media screen and (min-width: 480px) {
  .fillbox-1xs > div,
  .fillbox-1xs > header,
  .fillbox-1xs > section,
  .fillbox-1xs > article,
  .fillbox-1xs > aside,
  .fillbox-1xs > footer {
    width: 8.3333333333%;
  }

  .fillbox-2xs > div,
  .fillbox-2xs > header,
  .fillbox-2xs > section,
  .fillbox-2xs > article,
  .fillbox-2xs > aside,
  .fillbox-2xs > footer {
    width: 16.6666666667%;
  }

  .fillbox-3xs > div,
  .fillbox-3xs > header,
  .fillbox-3xs > section,
  .fillbox-3xs > article,
  .fillbox-3xs > aside,
  .fillbox-3xs > footer {
    width: 25%;
  }

  .fillbox-4xs > div,
  .fillbox-4xs > header,
  .fillbox-4xs > section,
  .fillbox-4xs > article,
  .fillbox-4xs > aside,
  .fillbox-4xs > footer {
    width: 33.3333333333%;
  }

  .fillbox-5xs > div,
  .fillbox-5xs > header,
  .fillbox-5xs > section,
  .fillbox-5xs > article,
  .fillbox-5xs > aside,
  .fillbox-5xs > footer {
    width: 41.6666666667%;
  }

  .fillbox-6xs > div,
  .fillbox-6xs > header,
  .fillbox-6xs > section,
  .fillbox-6xs > article,
  .fillbox-6xs > aside,
  .fillbox-6xs > footer {
    width: 50%;
  }

  .fillbox-7xs > div,
  .fillbox-7xs > header,
  .fillbox-7xs > section,
  .fillbox-7xs > article,
  .fillbox-7xs > aside,
  .fillbox-7xs > footer {
    width: 58.3333333333%;
  }

  .fillbox-8xs > div,
  .fillbox-8xs > header,
  .fillbox-8xs > section,
  .fillbox-8xs > article,
  .fillbox-8xs > aside,
  .fillbox-8xs > footer {
    width: 66.6666666667%;
  }

  .fillbox-9xs > div,
  .fillbox-9xs > header,
  .fillbox-9xs > section,
  .fillbox-9xs > article,
  .fillbox-9xs > aside,
  .fillbox-9xs > footer {
    width: 75%;
  }

  .fillbox-10xs > div,
  .fillbox-10xs > header,
  .fillbox-10xs > section,
  .fillbox-10xs > article,
  .fillbox-10xs > aside,
  .fillbox-10xs > footer {
    width: 83.3333333333%;
  }

  .fillbox-11xs > div,
  .fillbox-11xs > header,
  .fillbox-11xs > section,
  .fillbox-11xs > article,
  .fillbox-11xs > aside,
  .fillbox-11xs > footer {
    width: 91.6666666667%;
  }

  .fillbox-12xs > div,
  .fillbox-12xs > header,
  .fillbox-12xs > section,
  .fillbox-12xs > article,
  .fillbox-12xs > aside,
  .fillbox-12xs > footer {
    width: 100%;
  }

  .box-1xs {
    width: 8.3333333333% !important;
  }

  .box-2xs {
    width: 16.6666666667% !important;
  }

  .box-3xs {
    width: 25% !important;
  }

  .box-4xs {
    width: 33.3333333333% !important;
  }

  .box-5xs {
    width: 41.6666666667% !important;
  }

  .box-6xs {
    width: 50% !important;
  }

  .box-7xs {
    width: 58.3333333333% !important;
  }

  .box-8xs {
    width: 66.6666666667% !important;
  }

  .box-9xs {
    width: 75% !important;
  }

  .box-10xs {
    width: 83.3333333333% !important;
  }

  .box-11xs {
    width: 91.6666666667% !important;
  }

  .box-12xs {
    width: 100% !important;
  }

  /* padding xs */
  .p-xs-0 {
    padding: 0;
  }

  .p-xs-1 {
    padding: 0.25rem;
  }

  .p-xs-2 {
    padding: 0.5rem;
  }

  .p-xs-3 {
    padding: 0.75rem;
  }

  .p-xs-4 {
    padding: 1rem;
  }

  /* padding-top xs */
  .p-t-xs-0 {
    padding-top: 0;
  }

  .p-t-xs-1 {
    padding-top: 0.25rem;
  }

  .p-t-xs-2 {
    padding-top: 0.5rem;
  }

  .p-t-xs-3 {
    padding-top: 0.75rem;
  }

  .p-t-xs-4 {
    padding-top: 1rem;
  }

  /* padding-left xs */
  .p-l-xs-0 {
    padding-left: 0;
  }

  .p-l-xs-1 {
    padding-left: 0.25rem;
  }

  .p-l-xs-2 {
    padding-left: 0.5rem;
  }

  .p-l-xs-3 {
    padding-left: 0.75rem;
  }

  .p-l-xs-4 {
    padding-left: 1rem;
  }

  /* padding-bottom xs */
  .p-b-xs-0 {
    padding-bottom: 0;
  }

  .p-b-xs-1 {
    padding-bottom: 0.25rem;
  }

  .p-b-xs-2 {
    padding-bottom: 0.5rem;
  }

  .p-b-xs-3 {
    padding-bottom: 0.75rem;
  }

  .p-b-xs-4 {
    padding-bottom: 1rem;
  }

  /* padding-right xs */
  .p-r-xs-0 {
    padding-right: 0;
  }

  .p-r-xs-1 {
    padding-right: 0.25rem;
  }

  .p-r-xs-2 {
    padding-right: 0.5rem;
  }

  .p-r-xs-3 {
    padding-right: 0.75rem;
  }

  .p-r-xs-4 {
    padding-right: 1rem;
  }

  /* padding-x-sides xs */
  .p-x-xs-0 {
    padding: 0 0;
  }

  .p-x-xs-1 {
    padding: 0 0.25rem;
  }

  .p-x-xs-2 {
    padding: 0 0.5rem;
  }

  .p-x-xs-3 {
    padding: 0 0.75rem;
  }

  .p-x-xs-4 {
    padding: 0 1rem;
  }

  /* padding-y-sides xs */
  .p-y-xs-0 {
    padding: 0 0;
  }

  .p-y-xs-1 {
    padding: 0.25rem 0;
  }

  .p-y-xs-2 {
    padding: 0.5rem 0;
  }

  .p-y-xs-3 {
    padding: 0.75rem 0;
  }

  .p-y-xs-4 {
    padding: 1rem 0;
  }

  .d-flex-xs {
    display: flex;
  }

  .d-hidden-xs {
    display: flex;
  }
}

@media screen and (min-width: 576px) {
  .fillbox-1s > div,
  .fillbox-1s > header,
  .fillbox-1s > section,
  .fillbox-1s > article,
  .fillbox-1s > aside,
  .fillbox-1s > footer {
    width: 8.3333333333%;
  }

  .fillbox-2s > div,
  .fillbox-2s > header,
  .fillbox-2s > section,
  .fillbox-2s > article,
  .fillbox-2s > aside,
  .fillbox-2s > footer {
    width: 16.6666666667%;
  }

  .fillbox-3s > div,
  .fillbox-3s > header,
  .fillbox-3s > section,
  .fillbox-3s > article,
  .fillbox-3s > aside,
  .fillbox-3s > footer {
    width: 25%;
  }

  .fillbox-4s > div,
  .fillbox-4s > header,
  .fillbox-4s > section,
  .fillbox-4s > article,
  .fillbox-4s > aside,
  .fillbox-4s > footer {
    width: 33.3333333333%;
  }

  .fillbox-5s > div,
  .fillbox-5s > header,
  .fillbox-5s > section,
  .fillbox-5s > article,
  .fillbox-5s > aside,
  .fillbox-5s > footer {
    width: 41.6666666667%;
  }

  .fillbox-6s > div,
  .fillbox-6s > header,
  .fillbox-6s > section,
  .fillbox-6s > article,
  .fillbox-6s > aside,
  .fillbox-6s > footer {
    width: 50%;
  }

  .fillbox-7s > div,
  .fillbox-7s > header,
  .fillbox-7s > section,
  .fillbox-7s > article,
  .fillbox-7s > aside,
  .fillbox-7s > footer {
    width: 58.3333333333%;
  }

  .fillbox-8s > div,
  .fillbox-8s > header,
  .fillbox-8s > section,
  .fillbox-8s > article,
  .fillbox-8s > aside,
  .fillbox-8s > footer {
    width: 66.6666666667%;
  }

  .fillbox-9s > div,
  .fillbox-9s > header,
  .fillbox-9s > section,
  .fillbox-9s > article,
  .fillbox-9s > aside,
  .fillbox-9s > footer {
    width: 75%;
  }

  .fillbox-10s > div,
  .fillbox-10s > header,
  .fillbox-10s > section,
  .fillbox-10s > article,
  .fillbox-10s > aside,
  .fillbox-10s > footer {
    width: 83.3333333333%;
  }

  .fillbox-11s > div,
  .fillbox-11s > header,
  .fillbox-11s > section,
  .fillbox-11s > article,
  .fillbox-11s > aside,
  .fillbox-11s > footer {
    width: 91.6666666667%;
  }

  .fillbox-12s > div,
  .fillbox-12s > header,
  .fillbox-12s > section,
  .fillbox-12s > article,
  .fillbox-12s > aside,
  .fillbox-12s > footer {
    width: 100%;
  }

  .box-1s {
    width: 8.3333333333% !important;
  }

  .box-2s {
    width: 16.6666666667% !important;
  }

  .box-3s {
    width: 25% !important;
  }

  .box-4s {
    width: 33.3333333333% !important;
  }

  .box-5s {
    width: 41.6666666667% !important;
  }

  .box-6s {
    width: 50% !important;
  }

  .box-7s {
    width: 58.3333333333% !important;
  }

  .box-8s {
    width: 66.6666666667% !important;
  }

  .box-9s {
    width: 75% !important;
  }

  .box-10s {
    width: 83.3333333333% !important;
  }

  .box-11s {
    width: 91.6666666667% !important;
  }

  .box-12s {
    width: 100% !important;
  }

  /* padding s */
  .p-s-0 {
    padding: 0;
  }

  .p-s-1 {
    padding: 0.25rem;
  }

  .p-s-2 {
    padding: 0.5rem;
  }

  .p-s-3 {
    padding: 0.75rem;
  }

  .p-s-4 {
    padding: 1rem;
  }

  /* padding-top s */
  .p-t-s-0 {
    padding-top: 0;
  }

  .p-t-s-1 {
    padding-top: 0.25rem;
  }

  .p-t-s-2 {
    padding-top: 0.5rem;
  }

  .p-t-s-3 {
    padding-top: 0.75rem;
  }

  .p-t-s-4 {
    padding-top: 1rem;
  }

  /* padding-left s */
  .p-l-s-0 {
    padding-left: 0;
  }

  .p-l-s-1 {
    padding-left: 0.25rem;
  }

  .p-l-s-2 {
    padding-left: 0.5rem;
  }

  .p-l-s-3 {
    padding-left: 0.75rem;
  }

  .p-l-s-4 {
    padding-left: 1rem;
  }

  /* padding-bottom s */
  .p-b-s-0 {
    padding-bottom: 0;
  }

  .p-b-s-1 {
    padding-bottom: 0.25rem;
  }

  .p-b-s-2 {
    padding-bottom: 0.5rem;
  }

  .p-b-s-3 {
    padding-bottom: 0.75rem;
  }

  .p-b-s-4 {
    padding-bottom: 1rem;
  }

  /* padding-right s */
  .p-r-s-0 {
    padding-right: 0;
  }

  .p-r-s-1 {
    padding-right: 0.25rem;
  }

  .p-r-s-2 {
    padding-right: 0.5rem;
  }

  .p-r-s-3 {
    padding-right: 0.75rem;
  }

  .p-r-s-4 {
    padding-right: 1rem;
  }

  /* padding-x-sides s */
  .p-x-s-0 {
    padding: 0 0;
  }

  .p-x-s-1 {
    padding: 0 0.25rem;
  }

  .p-x-s-2 {
    padding: 0 0.5rem;
  }

  .p-x-s-3 {
    padding: 0 0.75rem;
  }

  .p-x-s-4 {
    padding: 0 1rem;
  }

  /* padding-y-sides s */
  .p-y-s-0 {
    padding: 0 0;
  }

  .p-y-s-1 {
    padding: 0.25rem 0;
  }

  .p-y-s-2 {
    padding: 0.5rem 0;
  }

  .p-y-s-3 {
    padding: 0.75rem 0;
  }

  .p-y-s-4 {
    padding: 1rem 0;
  }

  .d-flex-s {
    display: flex;
  }

  .d-hidden-s {
    display: flex;
  }
}

@media screen and (min-width: 720px) {
  .fillbox-1m > div,
  .fillbox-1m > header,
  .fillbox-1m > section,
  .fillbox-1m > article,
  .fillbox-1m > aside,
  .fillbox-1m > footer {
    width: 8.3333333333%;
  }

  .fillbox-2m > div,
  .fillbox-2m > header,
  .fillbox-2m > section,
  .fillbox-2m > article,
  .fillbox-2m > aside,
  .fillbox-2m > footer {
    width: 16.6666666667%;
  }

  .fillbox-3m > div,
  .fillbox-3m > header,
  .fillbox-3m > section,
  .fillbox-3m > article,
  .fillbox-3m > aside,
  .fillbox-3m > footer {
    width: 25%;
  }

  .fillbox-4m > div,
  .fillbox-4m > header,
  .fillbox-4m > section,
  .fillbox-4m > article,
  .fillbox-4m > aside,
  .fillbox-4m > footer {
    width: 33.3333333333%;
  }

  .fillbox-5m > div,
  .fillbox-5m > header,
  .fillbox-5m > section,
  .fillbox-5m > article,
  .fillbox-5m > aside,
  .fillbox-5m > footer {
    width: 41.6666666667%;
  }

  .fillbox-6m > div,
  .fillbox-6m > header,
  .fillbox-6m > section,
  .fillbox-6m > article,
  .fillbox-6m > aside,
  .fillbox-6m > footer {
    width: 50%;
  }

  .fillbox-7m > div,
  .fillbox-7m > header,
  .fillbox-7m > section,
  .fillbox-7m > article,
  .fillbox-7m > aside,
  .fillbox-7m > footer {
    width: 58.3333333333%;
  }

  .fillbox-8m > div,
  .fillbox-8m > header,
  .fillbox-8m > section,
  .fillbox-8m > article,
  .fillbox-8m > aside,
  .fillbox-8m > footer {
    width: 66.6666666667%;
  }

  .fillbox-9m > div,
  .fillbox-9m > header,
  .fillbox-9m > section,
  .fillbox-9m > article,
  .fillbox-9m > aside,
  .fillbox-9m > footer {
    width: 75%;
  }

  .fillbox-10m > div,
  .fillbox-10m > header,
  .fillbox-10m > section,
  .fillbox-10m > article,
  .fillbox-10m > aside,
  .fillbox-10m > footer {
    width: 83.3333333333%;
  }

  .fillbox-11m > div,
  .fillbox-11m > header,
  .fillbox-11m > section,
  .fillbox-11m > article,
  .fillbox-11m > aside,
  .fillbox-11m > footer {
    width: 91.6666666667%;
  }

  .fillbox-12m > div,
  .fillbox-12m > header,
  .fillbox-12m > section,
  .fillbox-12m > article,
  .fillbox-12m > aside,
  .fillbox-12m > footer {
    width: 100%;
  }

  .box-1m {
    width: 8.3333333333% !important;
  }

  .box-2m {
    width: 16.6666666667% !important;
  }

  .box-3m {
    width: 25% !important;
  }

  .box-4m {
    width: 33.3333333333% !important;
  }

  .box-5m {
    width: 41.6666666667% !important;
  }

  .box-6m {
    width: 50% !important;
  }

  .box-7m {
    width: 58.3333333333% !important;
  }

  .box-8m {
    width: 66.6666666667% !important;
  }

  .box-9m {
    width: 75% !important;
  }

  .box-10m {
    width: 83.3333333333% !important;
  }

  .box-11m {
    width: 91.6666666667% !important;
  }

  .box-12m {
    width: 100% !important;
  }

  /* padding m */
  .p-m-0 {
    padding: 0;
  }

  .p-m-1 {
    padding: 0.25rem;
  }

  .p-m-2 {
    padding: 0.5rem;
  }

  .p-m-3 {
    padding: 0.75rem;
  }

  .p-m-4 {
    padding: 1rem;
  }

  /* padding-top m */
  .p-t-m-0 {
    padding-top: 0;
  }

  .p-t-m-1 {
    padding-top: 0.25rem;
  }

  .p-t-m-2 {
    padding-top: 0.5rem;
  }

  .p-t-m-3 {
    padding-top: 0.75rem;
  }

  .p-t-m-4 {
    padding-top: 1rem;
  }

  /* padding-left m */
  .p-l-m-0 {
    padding-left: 0;
  }

  .p-l-m-1 {
    padding-left: 0.25rem;
  }

  .p-l-m-2 {
    padding-left: 0.5rem;
  }

  .p-l-m-3 {
    padding-left: 0.75rem;
  }

  .p-l-m-4 {
    padding-left: 1rem;
  }

  /* padding-bottom m */
  .p-b-m-0 {
    padding-bottom: 0;
  }

  .p-b-m-1 {
    padding-bottom: 0.25rem;
  }

  .p-b-m-2 {
    padding-bottom: 0.5rem;
  }

  .p-b-m-3 {
    padding-bottom: 0.75rem;
  }

  .p-b-m-4 {
    padding-bottom: 1rem;
  }

  /* padding-right m */
  .p-r-m-0 {
    padding-right: 0;
  }

  .p-r-m-1 {
    padding-right: 0.25rem;
  }

  .p-r-m-2 {
    padding-right: 0.5rem;
  }

  .p-r-m-3 {
    padding-right: 0.75rem;
  }

  .p-r-m-4 {
    padding-right: 1rem;
  }

  /* padding-x-sides m */
  .p-x-m-0 {
    padding: 0 0;
  }

  .p-x-m-1 {
    padding: 0 0.25rem;
  }

  .p-x-m-2 {
    padding: 0 0.5rem;
  }

  .p-x-m-3 {
    padding: 0 0.75rem;
  }

  .p-x-m-4 {
    padding: 0 1rem;
  }

  /* padding-y-sides m */
  .p-y-m-0 {
    padding: 0 0;
  }

  .p-y-m-1 {
    padding: 0.25rem 0;
  }

  .p-y-m-2 {
    padding: 0.5rem 0;
  }

  .p-y-m-3 {
    padding: 0.75rem 0;
  }

  .p-y-m-4 {
    padding: 1rem 0;
  }

  .d-flex-m {
    display: flex;
  }

  .d-hidden-m {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .fillbox-1l > div,
  .fillbox-1l > header,
  .fillbox-1l > section,
  .fillbox-1l > article,
  .fillbox-1l > aside,
  .fillbox-1l > footer {
    width: 8.3333333333%;
  }

  .fillbox-2l > div,
  .fillbox-2l > header,
  .fillbox-2l > section,
  .fillbox-2l > article,
  .fillbox-2l > aside,
  .fillbox-2l > footer {
    width: 16.6666666667%;
  }

  .fillbox-3l > div,
  .fillbox-3l > header,
  .fillbox-3l > section,
  .fillbox-3l > article,
  .fillbox-3l > aside,
  .fillbox-3l > footer {
    width: 25%;
  }

  .fillbox-4l > div,
  .fillbox-4l > header,
  .fillbox-4l > section,
  .fillbox-4l > article,
  .fillbox-4l > aside,
  .fillbox-4l > footer {
    width: 33.3333333333%;
  }

  .fillbox-5l > div,
  .fillbox-5l > header,
  .fillbox-5l > section,
  .fillbox-5l > article,
  .fillbox-5l > aside,
  .fillbox-5l > footer {
    width: 41.6666666667%;
  }

  .fillbox-6l > div,
  .fillbox-6l > header,
  .fillbox-6l > section,
  .fillbox-6l > article,
  .fillbox-6l > aside,
  .fillbox-6l > footer {
    width: 50%;
  }

  .fillbox-7l > div,
  .fillbox-7l > header,
  .fillbox-7l > section,
  .fillbox-7l > article,
  .fillbox-7l > aside,
  .fillbox-7l > footer {
    width: 58.3333333333%;
  }

  .fillbox-8l > div,
  .fillbox-8l > header,
  .fillbox-8l > section,
  .fillbox-8l > article,
  .fillbox-8l > aside,
  .fillbox-8l > footer {
    width: 66.6666666667%;
  }

  .fillbox-9l > div,
  .fillbox-9l > header,
  .fillbox-9l > section,
  .fillbox-9l > article,
  .fillbox-9l > aside,
  .fillbox-9l > footer {
    width: 75%;
  }

  .fillbox-10l > div,
  .fillbox-10l > header,
  .fillbox-10l > section,
  .fillbox-10l > article,
  .fillbox-10l > aside,
  .fillbox-10l > footer {
    width: 83.3333333333%;
  }

  .fillbox-11l > div,
  .fillbox-11l > header,
  .fillbox-11l > section,
  .fillbox-11l > article,
  .fillbox-11l > aside,
  .fillbox-11l > footer {
    width: 91.6666666667%;
  }

  .fillbox-12l > div,
  .fillbox-12l > header,
  .fillbox-12l > section,
  .fillbox-12l > article,
  .fillbox-12l > aside,
  .fillbox-12l > footer {
    width: 100%;
  }

  .box-1l {
    width: 8.3333333333% !important;
  }

  .box-2l {
    width: 16.6666666667% !important;
  }

  .box-3l {
    width: 25% !important;
  }

  .box-4l {
    width: 33.3333333333% !important;
  }

  .box-5l {
    width: 41.6666666667% !important;
  }

  .box-6l {
    width: 50% !important;
  }

  .box-7l {
    width: 58.3333333333% !important;
  }

  .box-8l {
    width: 66.6666666667% !important;
  }

  .box-9l {
    width: 75% !important;
  }

  .box-10l {
    width: 83.3333333333% !important;
  }

  .box-11l {
    width: 91.6666666667% !important;
  }

  .box-12l {
    width: 100% !important;
  }

  /* padding l */
  .p-l-0 {
    padding: 0;
  }

  .p-l-1 {
    padding: 0.25rem;
  }

  .p-l-2 {
    padding: 0.5rem;
  }

  .p-l-3 {
    padding: 0.75rem;
  }

  .p-l-4 {
    padding: 1rem;
  }

  /* padding-top l */
  .p-t-l-0 {
    padding-top: 0;
  }

  .p-t-l-1 {
    padding-top: 0.25rem;
  }

  .p-t-l-2 {
    padding-top: 0.5rem;
  }

  .p-t-l-3 {
    padding-top: 0.75rem;
  }

  .p-t-l-4 {
    padding-top: 1rem;
  }

  /* padding-left l */
  .p-l-l-0 {
    padding-left: 0;
  }

  .p-l-l-1 {
    padding-left: 0.25rem;
  }

  .p-l-l-2 {
    padding-left: 0.5rem;
  }

  .p-l-l-3 {
    padding-left: 0.75rem;
  }

  .p-l-l-4 {
    padding-left: 1rem;
  }

  /* padding-bottom l */
  .p-b-l-0 {
    padding-bottom: 0;
  }

  .p-b-l-1 {
    padding-bottom: 0.25rem;
  }

  .p-b-l-2 {
    padding-bottom: 0.5rem;
  }

  .p-b-l-3 {
    padding-bottom: 0.75rem;
  }

  .p-b-l-4 {
    padding-bottom: 1rem;
  }

  /* padding-right l */
  .p-r-l-0 {
    padding-right: 0;
  }

  .p-r-l-1 {
    padding-right: 0.25rem;
  }

  .p-r-l-2 {
    padding-right: 0.5rem;
  }

  .p-r-l-3 {
    padding-right: 0.75rem;
  }

  .p-r-l-4 {
    padding-right: 1rem;
  }

  /* padding-x-sides l */
  .p-x-l-0 {
    padding: 0 0;
  }

  .p-x-l-1 {
    padding: 0 0.25rem;
  }

  .p-x-l-2 {
    padding: 0 0.5rem;
  }

  .p-x-l-3 {
    padding: 0 0.75rem;
  }

  .p-x-l-4 {
    padding: 0 1rem;
  }

  /* padding-y-sides l */
  .p-y-l-0 {
    padding: 0 0;
  }

  .p-y-l-1 {
    padding: 0.25rem 0;
  }

  .p-y-l-2 {
    padding: 0.5rem 0;
  }

  .p-y-l-3 {
    padding: 0.75rem 0;
  }

  .p-y-l-4 {
    padding: 1rem 0;
  }

  .d-flex-l {
    display: flex;
  }

  .d-hidden-l {
    display: flex;
  }
}

/*# sourceMappingURL=framework.css.map */
