@import 'partials/reset';

@mixin clearfix-pseudos {
  &::before,
  &::after {
    content: " ";
    display: table;
  }
}

@mixin clearfix-contain {
  &::after {
    clear: both;
  }
}

$breakpoints: (
  "small": (
    letter: "s",
    size: "480px"
  ),
  "medium": (
    letter: "m",
    size: "720px"
  ),
  "large": (
    letter: "l",
    size: "1024px"
  )
);

/* Framework Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.mesh {
  width: 100%;
}

.mesh-boxed {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.mesh,
.mesh-boxed,
.tier {
  @include clearfix-pseudos();
}

.mesh,
.mesh-boxed,
.tier {
  @include clearfix-contain();
}

[class*="box-"],
[class*="fillbox-"] > div,
[class*="fillbox-"] > header,
[class*="fillbox-"] > section,
[class*="fillbox-"] > article,
[class*="fillbox-"] > aside,
[class*="fillbox-"] > footer {
  padding-left: 1em;
  padding-right: 1em;
  float: left;
}

@each $name, $breakpoint in $breakpoints {
  $letter: map-get($breakpoint, 'letter' );
  $size: map-get($breakpoint, 'size' );

  @media screen and (min-width: $size) {

  }
}
