/* colors */

.gray-bg {
  background-color: #f3f3f3;
}

.gray-border {
  border-color: #f3f3f3;
}

.gray {
  color: #f3f3f3;
}

.accent-bg {
  background-color: #ce973e;
}

.accent-border {
  border-color: #ce973e;
}

.accent {
  color: #ce973e;
}

.passed-bg {
  background-color: #2cbe4e;
}

.passed-border {
  border-color: #2cbe4e;
}

.passed {
  color: #2cbe4e;
}

.primary-bg {
  background-color: #6abfc3;
}

.primary-border {
  border-color: #6abfc3;
}

.primary {
  color: #6abfc3;
}

.secondary-bg {
  background-color: rgba(74, 74, 74, 0.7);
}

.secondary-border {
  border-color: rgba(74, 74, 74, 0.7);
}

.secondary {
  color: rgba(74, 74, 74, 0.7);
}
