/* text styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #4a4a4a;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
}

h4 {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 1rem;
  letter-spacing: 0.2px;
}

h6 {
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

p {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  margin: 0;
  line-height: 1.88;
}

.bold {
  font-weight: bold;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-bold {
  font-weight: 700;
}

.t-medium {
  font-weight: 500;
}

.t-light {
  font-weight: 300;
}

@each $size in $font_sizes {
  $code: nth($size, 1);
  $value: nth($size, 2);
  .t-#{$code} {
    font-size: $value;
  }
}
