/* text styles */
.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-bold {
  font-weight: 700;
}

.t-medium {
  font-weight: 500;
}

.t-light {
  font-weight: 300;
}

@each $size in $font_sizes {
  $code: nth($size, 1);
  $value: nth($size, 2);
  .t-#{$code} {
    font-size: $value;
  }
}
